body { font-family: sans-serif; }

.prise-result-wrapper {
  margin-bottom: 20px;
  color: #ada8a8;
}

.prise-result-wrapper > * {
  display: block;
  border: 1px solid #ada8a8;;
  border-radius: 15px;
  width: 220px;
  padding: 5px 10px;

}

/* Hide arrows on input */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}

.price:focus { border-color: green; }

.crossBtn {
  cursor: pointer;
  float: right;
  width: 18px;
  height: 18px;
  text-align: center;
  border: 1px solid #ada8a8;
  border-radius: 50%;
}